@font-face {
    font-family: 'GTWalsheimProRegular';
    src: url('../fonts/GTWalsheimProRegular.eot');
    src: url('../fonts/GTWalsheimProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProRegular.woff2') format('woff2'),
        url('../fonts/GTWalsheimProRegular.woff') format('woff'),
        url('../fonts/GTWalsheimProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('../fonts/GTWalsheimProBold.eot');
    src: url('../fonts/GTWalsheimProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('../fonts/GTWalsheimProBold.woff') format('woff'),
        url('../fonts/GTWalsheimProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

