// Responsive

$bp-largest: 1280px;     // 1200px
$bp-large: 1024px;    // 1100px
$bp-medium: 900px;   // 900px
$bp-small: 768px;     // 600px
$bp-smallest: 500px; // 500px


// Vars
$offset: 15px;


// Colors



// Fonts
$gtw-r: 'GTWalsheimProRegular', sans-serif;
$gtw-b: 'GTWalsheimProBold', sans-serif;
$gp: 'Gotham Pro', sans-serif;
