// Responsive
$tablet: 992px;
$tablet_m: 991px;
$mobile: 767px;
$mobile_m: 768px;


// Vars
$offset: 15px;


// Colors



// Fonts
$gtw-r: 'GTWalsheimProRegular', sans-serif;
$gtw-b: 'GTWalsheimProBold', sans-serif;
$gp: 'Gotham Pro', sans-serif;
